:root {
  --cat-energy-color: transparent;
  --cat-multimedia-color: transparent;
  --cat-security-color: transparent;
  --cat-opening-color: transparent;
  --cat-light-color: transparent;
  --cat-heating-color: transparent;
  --cat-automatism-color: transparent;
  --cat-other-color: transparent;
  --txt-color: #fff;
  --eqTitle-color: #fff;
  --el-defaultColor: rgba(0, 0, 0, 0.26);
  --link-color: rgb(255, 255, 255);
  --btnEq-default-color: rgba(0, 0, 0, 0.26);
  --placeholder-color: rgba(255, 255, 255, 0.55);
  --form-bg-color: rgba(0, 0, 0, .26);
  --al-success-color: rgb(154 232 62);
}

$navbar-bg-color: rgba(20, 20, 20, .80);
